<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mailman</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body id="app">
    <div class="row">
      <div class="col-xs-2">
        <div class="sidebar">
          <div class="header">
            <select class="form-control sidebar-header" v-model="sidebarHeader" v-on:change="loadSidebarData()">
              <option value="saved" selected="selected">Saved</option>
              <option value="history">History</option>
            </select>
          </div>
          <div class="previous-request-list" v-for="(folderIndex, folder) in sidebar.folders">
            <div :class="['previous-request', folder.opened ? 'open' : '']" v-on:click="toggleFolder(folderIndex)">
              <div><big><span :class="['glyphicon', folder.opened ? 'glyphicon-folder-open' : 'glyphicon-folder-close']" aria-hidden="true"></span>{{ folder.name || 'Default' }}<small>({{ folder.savedRequests.length }} items)</small></big></div>
            </div>
            <div class="previous-request row" v-for="(itemIndex, request) in folder.savedRequests" v-on:click="populateRequestForm(folderIndex, itemIndex)" v-show="shouldDisplay(folderIndex)">
              <div class="col-xs-10 no-padding-right">
                <small class="{{ request.requestType }}">{{ request.requestType }}</small>
                {{ request.requestLink }}
              </div>
              <div class="col-xs-2 no-padding removePreviousRequest glyphicon glyphicon-remove" aria-hidden="true" v-on:click="removePreviousRequest(folderIndex, itemIndex)"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-10 container">
        <h1>Mailman</h1>
        <ul class="nav nav-tabs" role="tablist">
          <li v-for="(index, tab) in tabs" role="presentation" :class="['tab', active[index] ? 'active' : '']" v-on:click="populateRequestFormUsingTabs(index)">
            <a role="tab" data-toggle="tab">{{ tab.requestLink }} <span class="glyphicon glyphicon-remove" aria-hidden="true" v-on:click="removeTab(index)"></span></a>
          </li>
          <li role="presentation" class="active tab plus" v-on:click="addTab()">
            <a role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
          </li>
        </ul>
        <form class="main-submit-form">
          <div class="row">
            <div class="col-xs-2">
              <div class="form-group">
                <select name="request" class="form-control main-request-type" v-model="requestType" v-on:blur="addOtherData()">
                  <option value="get">GET</option>
                  <option value="post">POST</option>
                  <option value="put">PUT</option>
                  <option value="patch">PATCH</option>
                  <option value="delete">DELETE</option>
                </select>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="form-group">
                <input type="text" class="form-control main-request-link" v-model="requestLink" placeholder="link" v-on:blur="addOtherData()">
              </div>
              <div class="form-group row">
                <div class="col-md-5">
                  <input type="text" class="form-control main-request-folder-custom" v-model="requestFolder" placeholder="folder name" v-on:blur="addOtherData()">
                </div>
                <div class="col-md-2">
                  <p style="text-align: center; padding-top: 5px;">or</p>
                </div>
                <div class="col-md-5">
                  <select name="folder" class="form-control main-request-folder" v-model="requestFolder">
                    <option v-for="(index, folder) in sidebar.folders" value="{{ folder.name }}">{{ folder.name }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <button type="submit" class="btn btn-primary main-submit-button" v-on:click.prevent="addHistoryRequest()">Submit</button>
              <button type="submit" class="btn btn-default main-save-button" v-on:click.prevent="addSavedRequest()">Save</button>
            </div>
          </div>
          <div class="row" v-for="(index, requestHeader) in requestHeaders">
            <div class="col-xs-5">
              <div class="form-group">
                <input type="text" class="form-control header-name" placeholder="header-name" v-model="requestHeader.name" v-on:blur="addData(index)">
              </div>
            </div>
            <div class="col-xs-5">
              <div class="form-group">
                <input type="text" class="form-control header-value" placeholder="header-value" v-model="requestHeader.value"  v-on:blur="addData(index)">
              </div>
            </div>
            <div class="col-xs-2">
              <button type="submit" class="btn btn-default header-add-button" v-on:click.prevent="toggleHeaderRow(index)" ><span :class="['glyphicon', clicked[index] ? 'glyphicon-minus' : 'glyphicon-plus']" aria-hidden="true"></span></button>
            </div>
          </div>
        </form>
        <div class="main-body-wrapper">
          Request:
          <div class="request-editor"></div>
          <div class="response-status">Ready.</div>
          Response:
          <div class="main-body"></div>
          <textarea class="main-body-hidden hidden"></textarea>
          <textarea class="request-editor-hidden hidden"></textarea>
        </div>
      </div>
    </div>
  </body>
  <script src="vue.js"></script>
  <script>
		var path = require('path');
    require('./renderer.js');
	</script>
  <script src="./node_modules/monaco-editor/min/vs/loader.js"></script>
  <script>
		function uriFromPath(_path) {
			var pathName = path.resolve(_path).replace(/\\/g, '/');
			if (pathName.length > 0 && pathName.charAt(0) !== '/') {
				pathName = '/' + pathName;
			}
			return encodeURI('file://' + pathName);
		}
		require.config({
			baseUrl: uriFromPath(path.join(__dirname, './node_modules/monaco-editor/min'))
		});
		self.module = undefined;
		self.process.browser = true;
		require(['vs/editor/editor.main'], function() {
      var requestEditorDiv = document.getElementsByClassName('request-editor')[0];
      var requestEditorHidden = document.getElementsByClassName('request-editor-hidden')[0];
      var mainButton = document.getElementsByClassName('main-submit-button')[0];
      var mainBodyHidden = document.getElementsByClassName('main-body-hidden')[0];

			var requestEditor = monaco.editor.create(requestEditorDiv, {
				language: 'json',
        theme : 'vs-dark',
        automaticLayout:true,
        value: '{}'
			});

      var editor = monaco.editor.create(document.getElementsByClassName('main-body')[0], {
				language: 'json',
        theme : 'vs-dark',
        automaticLayout:true,
        value: '{}'
			});

      mainBodyHidden.addEventListener('change', function(){
        editor.setValue(mainBodyHidden.value);
      });

      requestEditorHidden.addEventListener('change', function(){
        requestEditor.setValue(requestEditorHidden.value);
      });

      mainButton.addEventListener('click', function(e){
        e.preventDefault();
        var value = requestEditor.getValue();
        requestEditorHidden.innerHTML = value;
      });
		});
	</script>
</html>
