.request-editor{
  width:100%;
  min-height:30vh;
  margin-bottom:15px;
}

.main-body{
  width:100%;
  min-height:70vh;
}

.sidebar{
  background-color:#333;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  width:16.66666667%;
  color:#ccc;
  overflow-y:scroll;
}

.sidebar .header{
  padding:15px;
  text-align:center;
  border-bottom:1px solid #666;
}

.sidebar-header{
  color:#fff;
  border: none;
  background-color: transparent;
}


.sidebar .header p{
  margin:0;
  font-size:1.5rem;
}

.sidebar .previous-request{
  position: relative;
  padding:15px;
  border-bottom:1px solid #666;
  word-wrap: break-word;
  font-size:1rem;
}

.sidebar .previous-request small{
  margin-right:5px;
  font-size:1rem;
  text-transform: uppercase;
  font-weight:bold;
}

.sidebar .previous-request small.get{
  color:#2ecc71;
}

.sidebar .previous-request small.post{
  color:#f1c40f;
}

.sidebar .previous-request small.put{
  color:#3498db;
}

.sidebar .previous-request small.patch{
  color:#9b59b6;
}

.sidebar .previous-request small.delete{
  color:#e74c3c;
}

.sidebar .previous-request:hover{
  background-color:#666;
  cursor:pointer;
}

.response-status{
  padding:5px;
  margin-bottom:10px;
  border:1px solid #666;
  background-color:#333;
  color:#fff;
}


.container{
  padding: 0 50px;
}

span[class^="_2"] {
  color:#2ecc71;
}

span[class^="_4"] {
  color:#f1c40f;
}

span[class^="_5"] {
  color:#e74c3c;
}

.nav-tabs{
  margin-bottom:15px;
}

.tab a{
  color:#ccc;
  transition: .2s ease-in-out;
}

.tab a:hover{
  background-color:#f3f3f3 !important;
}

.tab.plus a{
  background-color:#eee !important;
}

.tab.plus a:hover{
  border-top:1px solid #999 !important;
  border-left:1px solid #999 !important;
  border-right:1px solid #999 !important;
}

.removePreviousRequest{
  position: absolute;
  right: 25px;
  top: 10px;
  color:#e74c3c;
  width:auto;
}

.no-padding{
  padding-left:0;
  padding-right:0;
}
.no-padding-right{
  padding-right:0;
}
